
body#home {
	background:url('../libs/images/back.png') no-repeat top left #b5d0d0;
	margin-left:0px;
}



#map {
	border-radius:.125em;
	border:2px solid #1978cf;
	margin: 4px 0;
	float:left;
	width:600px;
	height:400px;	
}


